footer.footer
  .container.footer-container
    .footer__copyright
      h4.footer__copyright_title &copy; Victor Smirnov
      h5.footer__copyright_description Fullstack web-developer
    .footer__socials
      h5.footer__socials_title Social networks profiles:
      .footer__socials_icons
        a(href="#!").footer__socials_link
          +svg-icon('instagram-icon', 'footer__socials_icon')
        a(href="#!").footer__socials_link
          +svg-icon('facebook-icon', 'footer__socials_icon')
        a(href="#!").footer__socials_link
          +svg-icon('vk-icon', 'footer__socials_icon')
        a(href="#!").footer__socials_link
          +svg-icon('linkedin-icon', 'footer__socials_icon')
        a(href="#!").footer__socials_link
          +svg-icon('github-icon', 'footer__socials_icon')
    .footer__contacts
      a(href="mailto:victorsmirnov67@gmail.com") 
        button(type="button").footer__contacts_btn Contact Me
      h5.footer__contacts_text Write to me to order or find out the cost of layout of your project