header.header
  .container.header-container
    .header-content
      h1.header-content__title Victor Smirnov
      h4.header-content__subtitle freelancer, fullstack web&nbsp;developer,<br>web-site creation
      a(href="#portfolio").header-content__control
        +svg-icon('chevron-down', 'header-content__control_icon')

