header.header
  video(preload, autoplay, muted, loop)#videobackground
    source(src="./videos/Rocky mountains partially covered by snow.mp4", type="video/mp4")
    source(src="@img/bg-image.jpg", type="image/jpeg")
    | Your browser does not support the video tag.
  .container.header-container
    .header-content
      h1.header-content__title Victor Smirnov
      h4.header-content__subtitle freelancer, fullstack web&nbsp;developer,<br>web-site creation
      a(href="#!").header-content__control#scroll-down
        +svg-icon('chevron-down', 'header-content__control_icon')

