-
  var projects = [
    {
      name: 'Multipages Site',
      image: '@img/project01.png',
      description: 'Make multipages site',
      link: '#',
    },
    {
      name: 'Adaptive Landing',
      image: '@img/project02.png',
      description: 'Make multipages site',
      link: '#',
    },
    {
      name: 'Personal Site',
      image: '@img/project03.png',
      description: 'Make multipages site',
      link: '#',
    },
    {
      name: 'E-commerce',
      image: '@img/project04.png',
      description: 'Make multipages site',
      link: '#',
    },
  ]