-
  var projects = [
    {
      name: 'Multipages Site',
      image: '@img/project01.png',
      description: 'Make multipages site',
      link: '/pages/page-forest.html',
    },
    {
      name: 'Adaptive Landing',
      image: '@img/project02.png',
      description: 'Make landing site',
      link: '/pages/page-unit.html',
    },
    {
      name: 'Personal Site',
      image: '@img/project03.png',
      description: 'Make landing site',
      link: '/pages/page-portfolio.html',
    },
    {
      name: 'E-commerce',
      image: '@img/project04.png',
      description: 'Make e-commerce site',
      link: '/pages/page-ecommerce.html',
    },
  ]