extends ../includes/_layout

block title
  title e-Commerce Site 

block content 
  section.project-page
    .container.project-page__container
      h2.project-page__title "e-Commerce" Web&nbsp;site
      img(src="@img/e-commerce-full.jpeg", alt="Image e-Commerce").project-page__image
      p.project-page__description Layout of a multi-page site. Main, page with services, map with a feedback form, page with an article.
      .project-page__link Address:&nbsp;&nbsp;
        a(href="#!") site.com
      a(href="/index.html")
        button(type="buttom").project-page__btn ← return to home